.chooseLanguage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chooseLanguage__container {
  display: flex;
  justify-content: center;
}

.chooseLanguage > .MuiButtonBase-root {
  color: white;
  background-color: #0a4a82;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}
