.language {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hover {
  transition: all 400ms ease-in;
}

.hover:hover {
  background-color: lightgrey;
}

.selected {
  background-color: #84db00 !important;
}

.language > p {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-left: 10px;
}

.language__flagContainer {
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.language__flagContainer > img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
