.modal {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  background-color: #235390;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
}

.modal__form > input {
  width: 300px;
  height: 30px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 15px;
}

.modal__form > input:focus {
  outline: none;
}

.modal__form > button {
  text-transform: uppercase;
  padding: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #84DB00;
  border-radius: 30px;
  box-shadow: 0px 5px #61B800;
  background-color: #84DB00;
}
