.accountPage {
  height: 100vh;
  width: 100vw;
}

.accountPage__container {
  display: flex;
  justify-content: space-evenly;
}

.accountpage__lessons {
  display: flex;
  flex-direction: column;
  margin-top: 95px;
  flex: 1;
}
