.profileHeader {
  display: flex;
  border-bottom: 2px solid var(--duo-alternate-color);
}

.profileHeader__main {
  display: flex;
  padding: 10px;
  flex: 0.7;
  justify-content: center;
  margin-right: 10px;
}

.profileHeader__right {
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  flex: 0.3;
}

.profileHeader__right > .profileHeader__section > .footerLanguage {
  border: 1px solid var(--duo-alternate-color);
}

.profileHeader__section {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: 30px;
}

.profileHeader__section > span {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--duo-alternate-color);
}

.profileHeader__section > img {
  height: 40px;
  width: 40px;
}

.profileHeader__section > .MuiIconButton-root {
  border: 1px solid lightgray;
  height: 40px;
  width: 40px;
}

.profileHeader__section > .MuiSvgIcon-root {
  font-size: 40px;
  color: var(--duo-alternate-color);
}
